*{
    margin: 0;
    padding: 0; 
    list-style: none;
    outline: none;
}
body{
    font-family: "苹方","微软雅黑";
    background-color: #f1f4f9;
}
img{
    display: block;
}
a{
    text-decoration: none;
}
                        /* 头部 */
.topBox{
    width: 100%;
    height: 58px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4381E6;
    z-index: 10;
}
.topBox .img{
    margin-left: 52px;
    margin-top: 16px;
    float: left;
}
.topBox h2{
    width: 130px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    margin: 21px 0 0 12px;
    float: left;
    color: #fff;
}
.topBox .guanli{
    width: 127px;
    height: 28px;
    float: right;
    margin: 14px 15px 0 0 ;
    display: flex;
    justify-content: space-between;
}
.topBox .guanli img{
    width: 28px;
    height: 28px;
}
.topBox .guanli p{
    width: 72px;
    height: 28px;
    font-size: 14px;
    color: #b2c7f3;
    line-height: 28px; 
}
.topBox .guanli span{
    width: 16px;;
    display: block;
    height: 28px;
    line-height: 28px;
    color: #b2c7f3;
    cursor: pointer;
}
                        /* 管理员弹框 */
.projectile{
    width: 127px;
    height: 64px;
    background: white;
    border-radius: 4px;
    position: absolute;
    top:54px;
    right: 15px;
    box-shadow:0 0 16px 0 rgba(0, 0, 0, 0.1);
    display: none;
}
.projectile li{
    margin-top: 8px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
                        /* 侧导航 */
.leftBox{
    width: 178px;
    height: 100%;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    padding-top: 58px;
    box-sizing: border-box;
    background-color: #eef1f5;
}
.leftBox ul{
    width: 178px;
    height: 100%;
    background-color: #fff;
}
.leftBox ul li{
    width: 178px;
    height: 40px;
    
    cursor: pointer;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color:rgba(0, 0, 0, 0.6);
    
}
.leftBox ul li a{
    display: block;
    width: 176px;
    height: 100%;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color:rgba(0, 0, 0, 0.6);
    border-right: 2px solid #fff;
    border-bottom:1px solid #f4f4f4;
    position: relative;
    overflow: hidden;
}
.leftBox ul li a .yuan{
    position: absolute;
    width: 1px;
    height: 1px;
    background-color:#ccc;
    opacity: 0.3;
    border-radius: 50%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.leftBox ul li .active{
    color:#4381e6;
    background-color: #ecf2fc;
    border-right: 2px solid #4381e6;
}
                        /* 内容 */
.main{
    width: 100%;
    height: auto;
    padding:73px 15px 0 190px;
    position: absolute;
    box-sizing: border-box;
}
.main .m_top{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}
.main .m_top .lc_line{
    width:2px;
    height:11px;
    background-image: -webkit-linear-gradient(top,#6787ff,#33bffb);
    background-image: -moz-linear-gradient(top,#6787ff,#33bffb);
    background-image: -ms-linear-gradient(top,#6787ff,#33bffb);
    background-image: -o-linear-gradient(top,#6787ff,#33bffb);
    background-image: linear-gradient(top,#6787ff,#33bffb);
    float: left;
    margin: 25px 0 0 32px;
}
.main .m_top p{
    width: 122px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    font-size: 14px;
    color: #8d8d8d;
    margin: 23px 0 0 8px;
    float: left;
}
.main .m_con{
    width: 100%;
    height: auto;
    margin-top: 12px;
    position: relative;
}
.main .m_left{
    width: 165px;
    height: 340px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
}
.main .m_left .ml_list{
    width: 147px;
    height: 39px;
    background-color: #fff;
    border-bottom: 1px solid #ececec;
    padding-left: 18px;
    line-height: 39px;
    font-size: 14px;
    color: #a3a3a3;
    cursor: pointer;
    position: relative;
}
.main .m_left .ml_list:nth-child(1){
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.main .m_left .into{
    color: #4381e6;
}
.into_c{
    width: 223px;
    height: 120px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 165px;
    z-index: 200;
    display: none;
}
.into_c .into_list{
    width: 205px;
    height: 39px;
    border-bottom: 1px solid #ececec;
    padding-left: 18px;
    line-height: 39px;
    font-size: 14px;
    color: #a3a3a3; 
}
.into_c .into_list:nth-child(3){
    border-bottom: none;
}
                        /* 主要内容 */
.main .m_con  .content{
    width:calc(100% - 165px);
    height: auto;
    float: right;
}
.main .m_con .content ul{
    height: 475px;
    padding-left: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
}
.main .m_con .content ul .con_list{
    width: 310px;
    height: 232px;
    position: relative; 
}
.main .m_con .content ul .con_list img{
    width: 310px;
    height: 232px;
    
}
.main .m_con .content ul .con_list .play{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid #7c7ea2;
    background-color: #38539c6b;
    position: absolute;
    top: 101px;
    left: 144px;
    z-index: 100;
    cursor: pointer;
}
.play i{
    font-size: 25px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 3px;
}
.main .m_con .content ul .con_list:nth-child(3){
    margin-right: 0;
}
                        /* 底部 */
footer{
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: absolute;
    top: 718px;
    right: 0;
}
footer p{
    width: 378px;
    height: 12px;
    font-size: 12px;
    color: #b8b8b8;
    text-align: center;
    line-height: 12px;
    margin: 19px auto;
}