*{
    margin:0;
    padding:0;
    list-style: none;
}
img{
    width:100%;
    display: block;
}
body{
    background: #e8ebf0;
}
header{
    width:100%;
    height: 58px;
    background: #4381e6;
    position:fixed;
    top:0;
    z-index: 10;
}
header .header_left{
    height: 100%;
    float: left;
    line-height: 58px;
    color:#fff;
    font-size: 16px;
}
header .header_left .img_box{
    width:40px;
    height: 40px;
    margin:14px 0 0 52px;
    float: left;
    margin-right:8px;
    background: url(../img/gyh_yu.png) no-repeat center;
    background-size:40px 40px;
}
header .header_right{
    height: 100%;
    margin-right: 15px;
    float:right;
    line-height: 58px;
    color:rgba(255,255,255,0.5);
    font-size: 16px;
}
header .header_right .img_box{
    width:28px;
    height: 28px;
    border-radius: 50%;
    margin-top:14px;
    float: left;
    margin-right:8px;
    background: url(../img/gyh_gly.png) no-repeat center;
    background-size:28px 28px;
}
header .header_right span{
    margin-right: 12px;
}
/*内容*/
.container{
    width:1156px;
    height: 650px;
    background: #f1f4f9;
    margin: 58px 0 0 190px;
    padding-bottom: 60px;
}
/*侧导航*/
.aside{
    width:180px;
    height: 100%;
    background: #ffffff;
    float: left;
    margin-right: 15px;
    position: fixed;
    left:10px;
    top:58px;
}
.aside li{
    width:180px;
    height: 40px;
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    color:#8d8d8d;
    position: relative;
}
.aside li .point{
    width:30px;
    height: 30px;
    background:rgba(0,0,255,0.4);
    border-radius: 50%;
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    top:5px;
    display: none;
}
.aside .guanli{
    border-bottom:0;
    width:178px;
    background: #ecf2fc;
    border-right:2px solid #4381e6;
    color:#4381e6;
}
/*订单管理*/
.dingdan{
    width:1156px;
    height: 279px;
    float: left;
    margin-top: 14px;
    margin-bottom: 12px;

}
.dingdan .dingdan_left{
    width:565px;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    margin-right: 12px;
    float: left;
    position: relative;
    margin-left: 15px;
}
.dingdan .dingdan_right{
    width:564px;
    height: 100%;
    background: #fff;
    margin-right: 0;
    border-radius: 5px;
    float: right;
    margin-left: 0;
}
.dingdan .dingdan_left h4{
    font-size:12px;
    line-height: 12px;
    color:#797979;
    position: relative;
    font-weight: 400;
    margin:25px 0 14px 40px;
}
.dingdan .dingdan_left .img_box{
    width:200px;
    height: 200px;
    margin:0 auto;
}
.dingdan .dingdan_left .student{
    width:77px;
    height: 14px;
    position: absolute;
    right:30px;
    bottom:52px;
    font-size: 12px;
    line-height: 14px;
    color:#999999;
}
.dingdan .dingdan_left .s_left{
    width:34px;
    height: 100%;
    background: #dde8fa;
    float: left;
    margin-right: 10px;
}
.dingdan .dingdan_left .teacher{
    width:77px;
    height: 14px;
    position: absolute;
    right:30px;
    bottom:28px;
    font-size: 12px;
    line-height: 14px;
    color:#999999;
}
.dingdan h4:before{
    content:"";
    display: block;
    width:2px;
    height: 11px;
    background: #608ffe;
    position: absolute;
    left:-8px;
    top:0;
}
/*列表详情*/
.list{
    width:1083px;
    height: 307px;
    background: #fff;
    float: left;
    border-radius:5px;
    padding:33px 28px 0 30px;
    margin-left: 15px;
}
.list table{
    width:1097px;
    height: 221px;
    border-radius:8px;
    border-top:1px solid #f4f4f4 ;
    border-left:1px solid #f4f4f4 ;
    text-align: center;
    line-height: 54px;
    margin-bottom:28px;
}
.list table tr{
    width:100%;
    height: 55px;
    color:#999;
}
.list table tr:first-child{
    color:#666;
}
.list table tr td{
    height: 54px;
    border-bottom: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
}
.list table tr td .circle{
    width:13px;
    height: 13px;
    border: 1px solid #4381e6;
    border-radius: 3px;
    margin: auto;
}
.list table tr td button{
    width:82px;
    height: 29px;
    background: #4381e6;
    border:0;
    border-radius: 5px;
    color:rgba(255,255,255,0.6)
}
.list .list_bottom{
    height: 29px;
    margin-left: 304px;
}
.list .list_bottom li{
    width:27px;
    height: 27px;
    border: 1px solid #f4f4f4;
    float: left;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 12px;
    color:#b0b0b0;
    line-height: 29px;
    text-align: center;
}
.list .list_bottom .shang{
    width:95px;
}
.list .list_bottom .xia{
    width:95px;
}
.list .list_bottom .wei{
    width:79px;
}
.list .list_bottom .hot{
    background: #4381e6;
}
.list .list_bottom .shenglue{
    border:0;
    line-height: 36px;
}
/*底部*/
footer{
    width:100%;
    height: 50px;
    background: #fff;
    margin-left: 10px;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    color:#b8b8b8;
    position: fixed;
    bottom:0;
    left:0;
}













